/* style for headings and paragraphs */
h1 {
    font-family: 'Source Serif Pro'; serif;
    font-weight:  600;
    font-size:  50px;
}

h2 {
    font-family: 'Source Serif Pro'; serif;
    font-weight:  600;
    font-size:  30px;
}

h3 {
    font-family: 'Source Serif Pro'; serif;
    font-weight:  600;
    font-size:  25px;
}

h4 {
    font-family: 'Source Serif Pro'; serif;
    font-weight:  600;
    font-size:  18px;
    text-align:  center;
}

p {
    font-family: 'Source Serif Pro'; serif;
    font-weight:  regular;
    font-size:  20px;
}

/* style for links and link interactions */
a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: rgb(147,155,203);
    font-weight:  bold;
}

/* style for classes */

.aboutmelink {
    text-decoration: underline;
    font-weight: 400;
    text-underline-offset:  3px;
}

.downarrow {
    position:  absolute;
    left:  49%;
    width: 200px;
    animation: upanddownbounce 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
}

.body {
    padding-left: 100px;
    padding-right:  100px;
}

.boldbody {
    font-weight:  600;
    color: rgb(178, 76, 111);
}

.bodytext {
    font-size:  16px;
    font-family: 'Source Serif Pro'; serif;
    font-weight:  regular;
}

.randomproject {
   font-size:  14px;
   font-weight: 600;
}

.randomproject:hover {
    color: rgb(147,155,203);
    font-weight:  bold;
}

.heart {
    color: rgb(198,154,169);
}

/* jquery show contact image */
.showcontactimage {
    display:none;
    width:  55%;
}

/* style for ids */

#headerimage {
    width:  20%;
}

#headerimageabout {
    width:  20%;
}

#headshot {
    max-width: 90%;
    max-height: 90%;
}

#projectimages {
    width: 100%;
}

#projectimages:hover {
    opacity: 40%;
}

#goback {
    font-size: 14px;
}

#project-one-problem-space {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#prototype-images {
    margin: auto;
    display:  block;
}

#prototype-images-2 {
    width:  90%;
    margin:  auto;
    display:  block;
}

#prototype-images-3 {
    width: 20%;
    margin:  auto;
    display:  block;
}

/* button to show contact feedback styling */
#showcontactbutton {
    font-size:  16px;
    font-family: 'Source Serif Pro'; serif;
    font-weight:  regular;
}

/* style for homepage link for interactive element 1 */
#changegraphiclink {
    color: rgb(178, 76, 111);
}

/* style for homepage link for interactive element 2 */
#changegraphiclink2 {
    color: rgb(121,119,80);
}

/* style for homepage link for interactive element 3 */
#changegraphiclink3 {
    color: rgb(199, 113,71);
}

/* animation */
@keyframes upanddownbounce {
  0% { bottom: 95px}
  100%{ bottom: 100px}
}

